<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher's absence reminder</title>
</head>

<body style="font-family: Arial, sans-serif; line-height: 1.6;">
    <p>Teacher <strong><%= teacher %></strong>'s absence reminder</p>
    <p><strong>Course title：</strong><%= title %></p>
    <p><strong>Student name：</strong><%= who %></p>
    <p><strong>Course time：</strong><%= start_dt %>~<%= end_dt %></p>
    <p><strong>timezone：</strong><%= tz %></p>
   

    <p>FutureKey School<br>
    </p>
    To unsubscribe, please click <a href="<%=web_url %>/subscribe/<%= email %>">here</a>
</body>

</html>