<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Class Notification</title>
</head>

<body style="font-family: Arial, sans-serif; line-height: 1.6;">
    <p>Hi Teacher <strong>[<%= teacherName %>]</strong>,</p>
    <p>You have a new class with <strong>[<%= users.join(',') %>]</strong>.</p>
    <p>Please check out the <a href="<%=emailConfig.web_url %>/back?subid=<%= sub_eventid %>&dt=<%= dt %>" style="color: #007bff;
                text-decoration: none;">teacher's home page</a> for your upcoming classes and class management tools.
    </p>

    <p>FutureKey School<br>
        <em>[<%= time %>
                <%= tz %>]</em>
    </p>
    To unsubscribe, please click <a href="<%=emailConfig.web_url %>/subscribe/<%= sub_eventid %>">here</a>
</body>

</html>